body {
    color: black;
    font-family: sans-serif;
}

nav {
    background-color: #ffcaaf;
    font-size: 40px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}

li {
    display: inline;
    padding-left:30px;
    padding-right:30px;
}

a:visited {
    color: darkblue;
}

a:unvisited {
    color: black;
}

header {
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#aboutmeimage {
    float:right;
    height: 400px;
    padding-right: 200px;
    padding-top: 25px;
}

.about-text {
    float:left;
    width: 55%;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 20px;
}

#myskills {
    text-align: center;
    font-size: 25px;
    padding-top: 500px;
    padding-bottom: 25px;
    background-color: #c6e2e9;
}

.language {
    width: 200px;
    height: 200px;
}

.language:hover {
    background-color: darkblue;
}


#myprojects {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #ffcaaf; 
}

#myDIV {
    padding-top: 40px;
}

#projectsbutton {
    height: 100px;
    width: 300px;
    font-size: 50px;
    background-color: white;
}

.contact-me {
    text-align: center;
}

.contactlogo {
    width: 90px;
    height: 70px;
    padding-bottom: 50px;
}

#factsDiv {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#factsbutton {
    height: 200px;
    width: 500px;
    font-size: 50px;
    background-color: #c6e2e9;
    color: black;
}
